@keyframes card-go {
  from {
    transform: translate3d(0, 0, 0) rotateY(0deg) rotateZ(0deg);
    animation-timing-function: ease-in;
  }
  to {
    transform: translate3d(var(--offset-x), var(--offset-y), 1024px)
      rotateY(180deg) rotateZ(180deg);
  }
}

.PageCardAnimation__screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  perspective: 1280px;
  pointer-events: none;
  transition: 0.3s opacity;
  z-index: 99999;
}
.PageCardAnimation__container {
  position: absolute;
  transform-style: preserve-3d;
  animation: 1s card-go ease-in;
  animation-fill-mode: both;
}
.PageCardAnimation__front {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backface-visibility: hidden;
}
.PageCardAnimation__back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: rotateX(180deg) translateZ(1px);
  background: #d7fc70;
  backface-visibility: hidden;
  border-radius: 10px;
}
