// https://v1.vuepress.vuejs.org/config/#index-styl
// https://github.com/vuejs/vuepress/blob/master/packages/@vuepress/theme-default/styles/index.styl

html.dtinth
.dtinth body
  background #353433

.dtinth body
  font-family Arimo, Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

.dtinth .navbar
.dtinth .navbar .links
  background-color #090807
