// https://v1.vuepress.vuejs.org/config/#index-styl
// https://github.com/vuejs/vuepress/blob/master/packages/@vuepress/theme-default/styles/index.styl

HTML[DATA-SITE="dtinth"]
[DATA-SITE="dtinth"] BODY
  background #353433

[DATA-SITE="dtinth"] BODY
  font-family Arimo, Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

[DATA-SITE="dtinth"] .navbar
[DATA-SITE="dtinth"] .navbar .links
  background-color #090807

[DATA-SITE="dtinth"] .search-box INPUT
[DATA-SITE="dtinth"] .search-box .suggestions
  background #090807

[DATA-SITE="dtinth"] .search-box .suggestion.focused
  background #454443

[DATA-SITE="dtinth"] .theme-default-content:not(.custom)
  font-size 1.125rem

[DATA-SITE="dtinth"] BLOCKQUOTE
  border-left-color #8b8685
  color #e9e8e7

[DATA-SITE="dtinth"] A
  color #ffb
  & > STRONG
    color #ffb

[DATA-SITE="dtinth"] STRONG
[DATA-SITE="dtinth"] EM
  color #fff

[DATA-SITE="dtinth"] .theme-default-content > P:first-child
  font-size 1.25em

[DATA-SITE="dtinth"] H2
  color #D7FC70
  text-shadow 2px 2px RGBA(215,252,112,0.15);

[DATA-SITE="dtinth"] .theme-default-content:not(.custom) H2
[DATA-SITE="dtinth"] .theme-default-content:not(.custom) H3
  padding-top 5.6rem

[DATA-SITE="dtinth"] H3
  color #FEBFEA
  text-shadow 2px 2px RGBA(0,0,0,0.25)

[DATA-SITE="dtinth"] .sidebar
  background #252423
  border-right-color #454443

[DATA-SITE="dtinth"] :not(PRE) > CODE
  border 1px solid #555453
  background #252423
  border-radius 2px
  border-bottom-width 2px
  box-shadow 0 1px 0 #252423
  color #e9d7c5

.名
  color #bef

[DATA-SITE="dtinth"] .custom-block.tip
  background #252423
  border-color #8b8685
  & > .custom-block-title
    color #D7FC70

[DATA-SITE="dtinth"] DETAILS
  background: #252423
  padding 1rem
  margin 1em 0
  & > SUMMARY
    color #D7FC70
    margin -1rem
    padding 1rem

@import './Arimo-SiteTitle.styl'

[DATA-SITE="dtinth"] a.nav-link
  color #bef

[DATA-SITE="dtinth"] .navbar .site-name
  color #d7fc70

[DATA-SITE="dtinth"] .sidebar-button
  color #8b8685

[DATA-SITE="dtinth"] .navbar .repo-link
[DATA-SITE="dtinth"] .sidebar .repo-link
[DATA-SITE="dtinth"] .page-edit
  display none

img.emoji
  height 1EM
  width 1EM
  margin 0 0.05EM 0 0.1EM
  vertical-align -0.1EM

